---
import Layout from "../layouts/Layout.astro";
import HomeProjectCard from "../components/HomeProjectCard.astro";
import myblog from "../assets/myblog.png";
import icongenerator from "../assets/icon-generator-project.png";
import AboutPage from "../components/AboutPage.astro";
import ProjectsButton from "../components/ProjectsButton.astro";
---

<Layout title="Brian Stricker - Portfolio">
 <main class="rel">
  <div class="main container">
   <div class="row">
    <div style="margin-top:2px;">
     <div class="text">
      <span style="font-size: 1.2rem">Hello, I'm</span>
      <h1 class="name">Brian Stricker</h1>
      <p style="font-size: 1.6rem; margin-top: .5rem;">
       Aspiring Full Stack Developer.
      </p>
      <div style="margin-top: 4rem; display: flex; flex-direction: column;">
       <p style="margin-bottom: 1rem; text-decoration: underline;">
        Check out one of my fullstack projects:
       </p>
      </div>
     </div>
     <div class="cards">
      <HomeProjectCard
       title="Fullstack Blog"
       link="https://blog.brianstricker.com/"
       image={myblog}
      />
      <HomeProjectCard
       title="Icon Generator"
       link="https://icons.brianstricker.com/"
       image={icongenerator}
      />
     </div>
    </div>
   </div>
  </div>
  <ProjectsButton />
 </main>
 <AboutPage />
</Layout>

<style>
 .main {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .row {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 1rem 1rem;
  width: 100%;
  justify-content: center;
  position: relative;
  bottom: -8rem;
  @media screen and (max-width: 900px) {
   display: block;
  }
  @media screen and (max-width: 700px) {
   bottom: -2rem;
  }
 }
 .name {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  left: -4px;
  background: rgb(180, 179, 190);
  background: linear-gradient(
   332deg,
   rgba(180, 179, 190, 1) 6%,
   rgba(112, 112, 205, 1) 45%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media screen and (max-width: 900px) {
   font-size: 5rem;
  }
  @media screen and (max-width: 700px) {
   font-size: 3rem;
  }
 }
 .cards {
  display: flex;
  column-gap: 1.75rem;
  row-gap: 0.5rem;
  @media screen and (max-width: 700px) {
   flex-direction: column;
  }
 }
 .text {
  margin: 0 auto;
  @media screen and (max-width: 550px) {
   max-width: 95%;
  }
 }
 .rel {
  position: relative;
 }
</style>
