@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
 background-image: radial-gradient(circle farthest-side at var(--x, 0%) var(--y, 0%), #dde0e312 0%, transparent 25%);
}

#homeDiv {
 opacity: 0;
 animation: fadeIn 1.25s forwards;
}

.fadeIn {
 animation: fadeIn 1.25s forwards;
}

@keyframes fadeIn {
 to {
  opacity: 1;
 }
}

#projectDiv {
 opacity: 0;
 transform: translateX(20%);
}

.animate-slideIn {
 animation: slideIn 1s forwards;
}

@keyframes slideIn {
 to {
  opacity: 1;
  transform: translateX(0);
 }
}

.animate-slideOut {
 animation: slideOut 1s forwards;
}

@keyframes slideOut {
 from {
  opacity: 1;
  transform: translateX(0);
 }
 to {
  opacity: 0;
  transform: translateX(20%);
 }
}

#text-animation {
 @apply bg-clip-text;
 animation: textAnimation 2s infinite linear alternate;
}

@keyframes textAnimation {
 0% {
  @apply text-white;
 }
 25% {
  @apply text-transparent bg-gradient-to-r from-yellow-200 to-white;
 }
 50% {
  @apply text-transparent bg-gradient-to-r from-yellow-200 via-yellow-300 to-white;
 }
 75% {
  @apply text-transparent bg-gradient-to-r from-yellow-200 via-yellow-300 to-orange-600;
 }
 100% {
  @apply text-transparent bg-gradient-to-r from-yellow-200 via-yellow-300 to-orange-600;
 }
}
