---
import ArrowDown from "./ArrowDown.astro";
---

<main>
 <div class="main">
  <div class="container">
   <h2>About</h2>
   <div class="content">
    My name is Brian Stricker, and I'm an aspiring fullstack web developer. I
    primarily focus on using the MERN stack, but I've dabbled with several other
    frameworks and languages, and I'm never writing anything off. I'm currently
    working on a few projects, including my fullstack blog, and an Airbnb clone
    (that is also fullstack).
   </div>
  </div>
 </div>
</main>

<style>
 .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93vh;
  width: 100%;
 }
 h2 {
  font-size: 3rem;
  text-align: center;
  position: relative;
  top: -3rem;
 }
 .content {
  max-width: 600px;
 }
</style>
