---

---

<nav>
 <div class="container flex sb">
  <h1 class="fancy">Brian <span class="lastname">Stricker</span></h1>
 </div>
</nav>
<style>
 h1 {
  font-size: 3rem;
 }
 .flex {
  display: flex;
  align-items: center;
 }
 .sb {
  justify-content: space-between;
 }
 nav {
  padding: 1.3rem 0;
 }
 .lastname {
  @media screen and (max-width: 900px) {
   display: none;
  }
 }
</style>
