---
import ArrowDown from "./ArrowDown.astro";
---

<div class="btn">
 <span>or view my all my projects</span>
 <ArrowDown />
</div>

<style>
 .btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: max-content;
  height: fit-content;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  box-shadow: inset 0 0 0 0 #7070cd;
  transition: all 0.5s ease-in-out;
  &:hover {
   transform: translateX(-50%) scale(1.1);
   box-shadow: inset 400px 0 0 0 #7070cd;
  }
  @media screen and (max-width: 700px) {
   display: none;
  }
 }
</style>
